{#  This file is inserted if a record has a gallery
    If there is a gallery, also in _head-twig the code for
    imagelightbox is loaded
#}

<div class="thumbs">
    {% for image in record.gallery %}

        {% set fn = image['filename'] %}
        {% if record.show_gallery_captions %}
            {% set caption = image.title %}
        {% else %}
            {% set caption = "" %}
        {% endif %}
        <a href="{{ asset(image.filename, 'files') }}" title="{{ caption }}">
            <img src="{{ fn|thumbnail('square_350w') }}" alt="{{ caption }}"
            srcset="{{ fn|thumbnail('square_250w') }} 250w,
            {{ fn|thumbnail('square_350w') }} 350w,
            {{ fn|thumbnail('square_450w') }} 450w">
        </a>
    {% endfor %}
</div>
<script>
    $('.thumbs a').imageLightbox({
        allowedTypes: 'png|jpg|jpeg|gif', // string;
        animationSpeed: 250, // integer;
        preloadNext: true, // bool;            silently preload the next image
        enableKeyboard: true, // bool;            enable keyboard shortcuts (arrows Left/Right and Esc)
        quitOnEnd: false, // bool;            quit after viewing the last image
        quitOnImgClick: false, // bool;            quit when the viewed image is clicked
        quitOnDocClick: true, // bool;            quit when anything but the viewed image is clicked
        onStart: function() {
            overlayOn();
        }, // function/bool;   calls function when the lightbox starts
        onEnd: function() {
            overlayOff();
            captionOff();
        }, // function/bool;   calls function when the lightbox quits
        onLoadStart: function() {
            captionOff();
        }, // function/bool;   calls function when the image load begins
        onLoadEnd: function() {
            captionOn();
        } // function/bool;   calls function when the image finishes loading
    });
</script>
