{# This file is inserted as the 'info' of each listed record and inside the record #}

{# show publishing date for certain contenttypes
   can be defined in theme.yml #}
{% if not record.contenttype.hide_publish_date %}
    {{ record.datepublish|localedatetime("%d.%m.%Y") }}
{% endif %}

{% if record.taxonomy is defined %}
  <span class="taxonomies">
    {% for type, values in record.taxonomy %}
        {% if type not in record.contenttype.hidden_taxonomy %}
            {% for link, value in values %}
                <a href="{{ link }}" class="{{ type }}">{{ value }}</a>
            {% endfor %}
        {% endif %}
    {% endfor %}
  </span>
{% endif %}

{% if record.use_password_protection %}
    <i class="fa fa-lock"></i>
{% endif %}
{% if record.gpx %}
    <i class="fa fa-map-o"></i>
{% endif %}

{% if extended | default() %}
    -
    <a href="{{ record.link() }}">{{ __('general.phrase.permalink') }}</a>
    -
{% endif %}
